{% extends "blog/base.html" %}

{% block content %}
    <form method="post" action="{% url 'login' %}">
        <div class="login">
        {% csrf_token %}
            <label>Login</label>
            <div class="login-fields">
                <input type="text" name="username" placeholder="Usuário" required="">
                <input type="password" name="password" placeholder="Senha" required="">
            </div>
            
            <div class="login-buttons">
                <input type="submit" value="Logar">
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
            <br>
            <div class="login-error">
                {% if form.errors %}
                    <p>Usuário ou senha incorretos.</p>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}