body {
    margin: auto;
    font-family: 'Indie Flower', cursive;
    font-size: 16px;
}

h1 a {
    color: #FCA205;
}

p{
	text-align: justify;
    font-size: 24px;
}

.login {
    color: black;
    padding: 20px;
    font-size: 20px;
    width: 300px;
    height: 300px;
    text-align: center;
    border: 1px solid;
    border-color: black;    
    border-radius: 10px;
}

.login-buttons input {
    margin: 2px;
    width: 200px;
    height: 40px;
}

.login-fields {
    padding: 10px;
    clear: both;
}

.login-error p{
    text-align: center;
}

.login label {
    font-size: 40px;    
}

.page-header {
    background-color: black;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 40px;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

.save {
    float: right;
}

.edits {
    padding: 9px;
}

.float {
    float: right;
    margin-right: 5px;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post-form textarea {
    height: 200px;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 20px;
}

.post h1 a, .post h1 a:visited {
    color: black;
    font-size: 40px;
}

.comment {
    margin: 20px 0px 20px 20px;
}